@model OnlineVotingS.API.Models.AdminViewModels.ElectionViewModels.CompleteElectionViewModel

@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Complete Election</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/css/new-sidebar.css" rel="stylesheet">
    <link href="~/css/Election/completeelection.css" rel="stylesheet">
</head>
<body>
    @await Html.PartialAsync("_NewSidebar")
    <div class="text-center label-container">
        <h4 class="election-header">Complete Election</h4>
        @using (Html.BeginForm("CompleteElection", "Election", FormMethod.Post))
        {
            <div class="form-group mb-3">
                <label for="SelectedElectionID" class="form-label">Election Title</label>
                @Html.DropDownListFor(model => model.SelectedElectionID, Model.OngoingElections, "Select an election", new { @class = "form-control dropdown-small", required = true })
                @Html.ValidationMessageFor(model => model.SelectedElectionID, "", new { @class = "text-danger" })
            </div>
            <button type="submit" class="btn btn-primary">Complete Election</button>
        }
    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
</body>
</html>
