<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Digital Voting</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.3.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link rel="stylesheet" href="~/css/dashboard.css">
</head>
<body>
    <nav class="navbar navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">DIGITAL VOT<span style="color:green;">ING</span></a>
            <div class="d-flex align-items-center">
                <span class="text-white me-3">MIKASA</span>
                <img src="https://via.placeholder.com/30" alt="Profile Image" class="rounded-circle">
            </div>
        </div>
    </nav>

    <div id="sidebar" class="d-none">
        <h5 class="text-center py-3">Menu</h5>
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link text-white" href="@Url.Action("Dashboard", "Admin")">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" href="#">Profile</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" href="#">Forms</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" href="#">Election</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" href="#">Data</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" href="#">Result</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" href="#">Complain</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" href="#">Logout</a>
            </li>
        </ul>
    </div>

    <div class="container my-5">
        <div id="cards-container" class="row row-cols-1 row-cols-md-3 g-4">
            <!-- Cards will be inserted here dynamically -->
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/dashboard.js"></script>
</body>
</html>
