<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Digital Voting</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.3.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link rel="stylesheet" href="~/css/dashboard.css">
</head>
<body>
    <nav class="navbar navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                DIGITAL VOT<span style="color:green;">ING</span>
            </a>
            <div class="d-flex align-items-center">
                <span class="text-white me-3">MIKASA</span>
                
                <!-- Dropdown for Profile Image -->
                <div class="dropdown">
                    <a href="#" class="d-flex align-items-center" id="profileDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                        <img src="https://via.placeholder.com/30" alt="Profile Image" class="rounded-circle">
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="profileDropdown">
                        <li><a class="dropdown-item"  href="@Url.Action("ChangePassword", "Auth")">ChangePassword</a></li>
                        
                    </ul>
                </div>
            </div>
        </div>
    </nav>

    <div class="container my-5">
        <div id="cards-container" class="row row-cols-1 row-cols-md-3 g-4">
            <!-- Cards will be inserted here dynamically -->
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/dashboard.js"></script>

</body>
</html>
