<div id="sidebar" class="d-none">
    <h5 class="text-center py-3" style="background-color:white >Menu</h5>
    <ul class="nav flex-column">
        <li class="nav-item">
            <a class="nav-link text-white" href="@Url.Action("Dashboard", "Admin")">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white" href="#">Profile</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white" href="#">Forms</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white" href="@Url.Action("Dashboard", "Admin")">Election</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white" href="#">Data</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white" href="#">Result</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white" href="#">Complain</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white" href="#">Logout</a>
        </li>
    </ul>
</div>
