@model ComplainViewModel
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Submit a Complaint</title>
    <link rel="stylesheet" href="/css/complain.css">
</head>
<body>
    <div class="wrapper">
        @using (Html.BeginForm("SubmitComplain", "Voter", FormMethod.Post))
        {
            <h2>Submit a Complaint</h2>
            <div class="input-field">
                @Html.TextAreaFor(model => model.Complaint, new { @class = "input", placeholder = "Enter your complaint", rows = 5 })
            </div>
            <button type="submit">Submit</button>
        }
    </div>
</body>
</html>
