@model OnlineVotingS.API.Models.VoterViewModels.ForgotPasswordViewModel
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forgot Password</title>
    <link rel="stylesheet" href="/css/forgot-password.css">
</head>
<body>
    <div class="wrapper">
        @using (Html.BeginForm("ForgotPassword", "Voter", FormMethod.Post))
        {
            <h2>Forgot Your Password?</h2>
            <div class="input-field">
                @Html.TextBoxFor(model => model.Email, new { @class = "input", placeholder = "Enter your email address" })
            </div>
            <button type="submit">Send Reset Link</button>
        }
    </div>
</body>
</html>
